<h1>トップページ</h1>
<% if @user.status %>
	<p><%= link_to "返却", check_outs_return_page_path %></p>
<% else %>
	<p><%= link_to "貸出", new_check_out_path %></p>
<% end %>
	<p><%= link_to "貸出履歴", check_outs_path %></p>