<div class="check-out">
	<h1>- 貸出履歴詳細 -</h1>
	<p><%= @check_out.created_at.to_s(:datetime_jp) %></p>
	<% @check_out.check_out_books.each do |check_out_book| %>
		<section class="check-out-book">
			<div class="main-content">
				<div class="header">
					<span><%= check_out_book.book.code %></span>
				</div>
				<div class="body">
					<span><%= check_out_book.book.title %></span>
				</div>
			</div>
		</section>
	<% end %>
</div>