/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
	 margin: 0;
	 padding: 0;
 }

 a {
   color: rgb(92, 92, 92);
   text-decoration: none;
 }

 li {
	 list-style: none;
 }

 label {
   margin-top: 10px;
   font-weight: bold;
   display: block;
 }

.form {
  width: 100%;
}

.form input[type='text'],
.form input[type='date'],
.form input[type='email'],
.form input[type='password'],
.form select {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 40%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
  border-radius: 4px;
}

.new-book .form input[type='text'],
.edit-book .form input[type='text'],
.signup .form input[type='text'],
.form input[type='email'],
.form input[type='password'] {
  width: 100%;
}

 .btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.37em 1.5em;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

nav .btn-square-so-pop {
  padding: 0 0.5em;
}

.flash {
  color: white;
  text-align: center;
  background: blue;
}

.btn-square-so-pop:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-middle {
  font-size: 1.3em;
  min-width: 100px;
  padding: 0.3em 0.3em;
}

.btn-big {
  font-size: 1.5em;
  min-width: 130px;
  margin: 30px;
  padding: 0.5em 0.5em;
}

.btn-orange {
  color: #FFF;
  background: #fd9535;
  border: solid 2px #fd9535;
}

.btn-green {
  color: #FFF;
  background: rgb(1, 172, 66);
  border: solid 2px rgb(1, 172, 66);
}

.btn-gray {
  color: #FFF;
  background: gray;
  border: solid 2px gray;
}

.btn-blue {
  color: #FFF;
  background: rgb(0, 183, 255);
  border: solid 2px rgb(0, 183, 255);
}

.btn-red {
  color: #FFF;
  background: red;
  border: solid 2px red;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.top-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

 .brand {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}
 
.site-header {
  position: relative;
  background-color: #def7ff;
}
 
.site-header__wrapper {
  min-height: 60px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.nav__wrapper {
  display: flex; 
} 
 
.nav__item {
  display: block;
  padding: 1.5rem 1rem;
  height:30px;
  line-height:30px;
  font-weight: bold;
}

h1 {
  font-size: 1.3em;
  margin: 20px 0;
}

.errors-section {
  padding: 10px;
  color: red;
}

.cart-item,
.return-item,
.check-out-item,
.check-out-book,
.book {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;;
  background: rgb(236, 236, 236);
  display: flex;
}

.new-book,
.edit-book,
.login,
.signup {
  width: 50%;
  padding: 10px 5%;
  margin: 5px;
  border-radius: 8px;;
  background: rgb(236, 236, 236);
}

.main-content {
  width: 80%;
}

.book .main-content {
  width: 64%;
}

.body {
  font-weight: bold;
}

.delete {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book .stock,
.book .edit,
.book .delete {
  width: 12%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-out-submit {
  text-align: right;
  display: inline-block;
  width: 59%;
}

.return-submit,
.new-book-submit,
.edit-book-submit,
.login-submit,
.signup-submit {
  text-align: right;
  margin: 10px 0;
}